{% extends 'master.html' %}

{% block content %}
<h3>Employee List</h3>

<a href="{% url 'add_user_ui' %}" class="btn btn-primary mb-3">Add Employee</a>

<form method="get" class="row g-2 mb-3">
    <div class="col-md-4">
        <input type="text" name="q" value="{{ query }}" 
               class="form-control" placeholder="Search by name">
    </div>

    <div class="col-md-2">
        <button class="btn btn-secondary">Search</button>
        <a href="{% url 'user_list_ui' %}" class="btn btn-outline-dark">Clear</a>
    </div>
</form>


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>
            <a href="{% url 'edit_user_ui' user.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'delete_user_ui' user.id %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
