{% extends 'master.html' %}

{% block content %}
<h3>{% if user %}Edit{% else %}Add{% endif %} Employee</h3>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control"
               value="{{ user.name|default:'' }}" required>
    </div>

    <div class="mb-3">
        <label>Age</label>
        <input type="number" name="age" class="form-control"
               value="{{ user.age|default:'' }}" required>
    </div>

    <button class="btn btn-success">Save</button>
</form>
{% endblock %}
